.dcy-xs {
    font-size: 1.7vw;
}

.dcy-small {
    font-size: 2.2vw;
}

.dcy-medium {
    font-size: 2.5vw;
}

.dcy-large {
    font-size: 2.8vw;
}

.dcy-xl {
    font-size: 3.2vw;
}

.dcy-searchBar {
    padding-top: 3vh;
}

@media screen and (max-width: 768px) {
    .dcy-large,
    .dcy-xl {
        font-size: 7.2vw;
        padding-left: 2vw;
    }
    .dcy-small,
    .dcy-medium {
        font-size: 5.5vw;
    }
    .dcy-xs {
        text-align: center;
        font-size: 2.5vw;
    }
    .dcy-searchBar {
        display: none;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .dcy-large,
    .dcy-xl {
        font-size: 5vw;
        padding-left: 2vw;
    }
    .dcy-small,
    .dcy-medium {
        font-size: 4vw;
    }
    .dcy-xs {
        padding-left: 2vw;
        font-size: 2.5vw;
    }
    .dcy-searchBar {
        display: none;
    }
}