@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
body {
    padding: 0px;
    margin: 0px;
}

div {
    overflow: hidden;
    max-width: 100%;
}

* {
    transition: all 0.2s;
}